
.con {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 20px; 
  flex-wrap: wrap; 
}
.h1 {
  color: transparent;
  background: linear-gradient(25deg, pink, purple, aqua);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}



.left11 img {
  max-width: 100%; 
  height: auto; 
  width: 400px;
}


.right11 {
  padding-left: 30px;
  height: 100%;
  max-width: 500px; 
  flex-grow: 1; 
}
button {
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  background: linear-gradient(45deg, pink, purple, aqua);
  color: white; /* Matn rangini kontrastli qilish uchun */
}

.right11 h1 {
  margin-bottom: 10px;
}
.right11 p {
  line-height: 1.6;
}