*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fayzullo_container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    background-color: rgb(3, 3, 3);
}

.left_box h1{
    font-size: 40px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.left_box h1 span{
    background: linear-gradient(90deg, purple, dodgerblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.left_box p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(167, 167, 167);
    margin-top: 10px;
}

.right_box img{
    width: 500px;
}

.btns{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}


.btns .gradient{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(90deg, rgb(196, 0, 130), dodgerblue);
}

.btns .gradient2{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    background-color: #000;
    border-image: linear-gradient(90deg, rgb(196, 0, 130), dodgerblue) 1;
}

.grid_atwork{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
}

.grid_atwork h2{
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}