.up-footer {
  display: flex;
  margin: 0 auto;
  width: 100%;
  min-height: 300px;
  background-color: #090823;
}
.first-footer {
  display: flex;
}
.logo {
  width: 189px;
  margin-top: 80px;
}

.footer-text {
  margin-top: 25px;
  color: #b5b4bd;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.paragraph {
  /* float: left; */
  margin: 10px 40px;
}

.second-footer {
  margin-top: 80px;
  margin-left: 80px;
}
.second-footer a {
  font-family: sans-serif;
}

h2 {
  color: #b5b4bd;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  display: block;
  list-style: none;
  text-decoration: none;
  color: #b5b4bd;
  margin-top: 12px;
  font-size: 18px;
  font-family: "Poppins" sans-serif;
}

.third-footer {
  margin-top: 80px;
  margin-left: 200px;
}

.third-footer a {
  font-family: sans-serif;
}

.fourth-footer a {
  display: inline;
  margin-right: 22px;
}
.fourth-footer a img {
  width: 30px;
  margin-top: 17px;
}

.fourth-footer {
  margin-top: 80px;
  margin-left: 30px;
}
.fourth-footer p {
  color: #b5b4bd;
  font-size: 16px;
  line-height: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 17px;
}
.fourth-footer a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
