.up-footer {
  width: 100%;
  min-height: 300px;
  background-color: #090823;
}
.logo {
  width: 189px;
  margin-top: 80px;
}

.footer-text {
  margin-top: 25px;
  color: #b5b4bd;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.paragraph {
  float: left;
  margin: 10px 40px;
}

.second-footer {
  margin-top: 20px;
}

.second-footer h2 {
  color: #b5b4bd;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.second-footer a {
  display: block;
}
